<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>PORTFOLIO BRICK GREY | Aside Responsive HTML Theme</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <!-- Mobile Specific Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <!-- Favicons -->
        <link rel="shortcut icon" href="./img/favicon.ico">
        <link rel="apple-touch-icon-precomposed" href="./img/favicon.ico">

        <!-- Google fonts styles -->
        <link rel="stylesheet" id="google-fonts-Roboto-css" href="http://fonts.googleapis.com/css?family=Roboto%3A100%2C100italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C700%2C700italic%2C900%2C900italic&amp;ver=3.9.1" type="text/css" media="all">
        <link rel="stylesheet" id="google-fonts-Playfair+Display-css" href="http://fonts.googleapis.com/css?family=Playfair+Display%3Aregular%2Citalic%2C700%2C700italic%2C900%2C900italic&amp;ver=3.9.1" type="text/css" media="all">

        <!-- Aside styles -->
        <link rel="stylesheet" id="bootstrap-css" href="./styles/bootstrap.css" type="text/css" media="screen">
        <link rel="stylesheet" id="font-awesome-css" href="./styles/font-awesome.min.css" type="text/css" media="screen">
        <link rel="stylesheet" id="pagebuild-css" href="./styles/pagebuild.css" type="text/css" media="screen">
        <link rel="stylesheet" id="ux-aside-css" href="./styles/style.css" type="text/css" media="screen">
        <link rel="stylesheet" id="icons-css" href="./styles/icons.css" type="text/css" media="screen">

        <!-- Jquery Lib version 1.11.0 -->
        <script type="text/javascript" src="./js/jquery.min.js"></script>

        <!-- IE hack -->
        <!--[if lte IE 9]>
        <link rel='stylesheet' id='cssie'  href='./styles/ie.css' type='text/css' media='screen' />
        <![endif]-->
        <!--[if lt IE 9]>
        <script type="text/javascript" src="./js/ie.js"></script>
        <link rel='stylesheet' id='cssie8'  href='./styles/ie8.css' type='text/css' media='screen' />
        <![endif]-->
        <!--[if lte IE 7]>
        <div style="width: 100%;" class="messagebox_orange">Your browser is obsolete and does not support this webpage. Please use newer version of your browser or visit <a href="http://www.ie6countdown.com/" target="_new">Internet Explorer 6 countdown page</a>  for more information. </div>
        <![endif]-->
    </head>

    {% block content %}

    {% endblock %}

    <script type="text/javascript" src="./js/bootstrap.js"></script>
    <script type="text/javascript" src="./js/waypoints.min.js"></script>
    <script type="text/javascript" src="./js/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="./js/jquery.jplayer.min.js"></script>
    <script type="text/javascript" src="./js/jquery.gray.min.js"></script>
    <script type="text/javascript" src="./js/main.js"></script>
    <script type="text/javascript" src="./js/custom.theme.isotope.js"></script>
    <script type="text/javascript" src="./js/custom.theme.js"></script>
    <script type="text/javascript" src="./js/theme.pagebuilder.js"></script>

    <body class="home page page-template-default responsive-ux boxed-line aside-layout-ux">

    </body>
    </html>
