<section id="contatti">
		<div class="container">
			<div class="col-xs-4"></div><div class="col-xs-4"><span class="spanband">CONTATTI</span><br><br></div><div class="col-xs-4"></div>
			<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
				<form action="/contact/" method="post">{% csrf_token %}
				  <div class="form-group">
				    <input type="text" name="nome" class="form-control" id="exampleInputEmail1" placeholder="Nome" required>
				  </div>
				  <div class="form-group">
				    <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Email" required>
				  </div>
				  <div class="form-group">
				    <input type="text" name="oggetto" class="form-control" id="exampleInputEmail1" placeholder="Oggetto" required>
				  </div>
				  <div class="form-group">
				    <textarea type="text" name="messaggio" class="form-control" id="exampleInputEmail1" placeholder="Messaggio:" required></textarea>
				  </div>
				<input id="contact_submit" type="submit" style="background-color: #666666; color: #ffffff; font-size:18pt;" />
				</form>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				<p>
					<a href="mailto:info@sabriartbijoux.it">
						<i class="fa fa-envelope" aria-hidden="true"></i> info@sabriartbijoux.it<br>
					</a>
						<i class="fa fa-phone-square" aria-hidden="true"></i> +39 347.4344112
						<br>
						<br>
						<i class="fa fa-map-marker" aria-hidden="true"></i>20056 Trezzo sull'Adda (MI) - Italy
						<br>
						<br>
						<a href="https://www.facebook.com/sabriart.bijoux" target="_Blank">
							<i class="fa fa-facebook-square fa-2x" aria-hidden="true">&nbsp;&nbsp;</i>
						</a>
						<a href="https://it.pinterest.com/sabriartbijoux/" target="_Blank">
							<i class="fa fa-pinterest-square fa-2x" aria-hidden="true"></i>
						</a>

					</a>
				</p>
			</div>
		</div>
	</section>