<footer>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-5"></div>
			<div class="col-xs-12 col-sm-2">
				<div class="social-links">
					<a href="https://www.facebook.com/sabriart.bijoux"><i class="fa fa-facebook fa-lg"></i></a>
	    			<a href="https://it.pinterest.com/sabriartbijoux/"><i class="fa fa-pinterest fa-lg"></i></a>
	    		</div>
			</div>
			<div class="col-xs-12 col-sm-5"></div>
		</div>



		<p style="margin-top:20px;">
			All content © Copyright 2016 by Sabriart Bijoux &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;  <a href="mailto:info@sabriartbijoux.it">info@sabriartbijoux.it</a> &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;  Credits: <a href="http://www.sabrinatrezzi.com/" target="_Blank">sabrinatrezzi.com</a>
		</p>
	</div>
</footer>

