<footer>
	<div class="container">
		<div class="row">
			<!--div class="col-xs-12 col-sm-5"></div>
			<div class="col-xs-12 col-sm-2">
				<div class="social-links">
					<a href="#"><i class="fa fa-facebook-square"></i></a>
	    			<a href="#"><i class="fa fa-pinterest-square"></i></a>
	    		</div>
			</div>
			<div class="col-xs-12 col-sm-5"></div-->
		</div>



		<p style="margin-top:20px;">
			All content © Copyright 2016 by Sabrina Trezzi<!-- - P.IVA: 06026520962 -->&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;  <a href="mailto:info@sabrinatrezzi.com">info@sabrinatrezzi.com</a> &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;  Credits: <a href="http://www.sabrinatrezzi.com/" target="_Blank">sabrinatrezzi.com</a>
		</p>
	</div>
</footer>
