<!--Sidaber-->
<aside id="sidebar" class="sidebar_hide">
    <div id="sidebar-trigger">
        <div class="menu-icon"><i class="icon-m-menu"></i></div>
    </div>
    <!--End sidebar-trigger-->
    <div class="sidebar-main">

        <!--Logo-->
        <h1 id="logo"><a href="index.html" title="Aside Responsive HTML Theme">Aside</a></h1>

        <!--Menu-->
        <nav id="navi" class=" clearfix">
            <div id="navi_wrap" class="menu-demo-menu-container">
                <ul class="menu">
                    <li id="menu-item-885" class="menu-item menu-item-type-post_type menu-item-object-page page_item page-item-122 current_page_item menu-item-has-children">
                        <a>HOME</a>
                    </li>
                    <li id="menu-item-883" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children current-menu-item">
                        <a>PORTFOLIO</a>
                    </li>
                </ul>
            </div>
            <!--End #navi_wrap-->
        </nav>
        <!-- End Menu -->
        <div class="sidebar-bottom-wrap">
            <form id="search_form_1" name="" method="get" class="search-form_header" action="#">
                <input type="text" onblur="if (this.value == '') {this.value = 'SEARCH';}" onfocus="if (this.value == 'SEARCH') {this.value = '';}" id="search" name="search" value="SEARCH" class="textboxsearch">
                <span class="submit-wrap"><input type="submit" value="" class="submitsearch" name="submitsearch"><i class="fa fa-long-arrow-right middle-ux"></i></span>
            </form>
            <!--Social icons-->
            <div class="social-icons-sidebar">
                <a class="icons-sidebar-unit" href="https://twitter.com/uiueux" title="Follow us"><i class="fa fa-twitter-square"></i></a>
                <a class="icons-sidebar-unit" href="https://www.facebook.com/Uiueux/" title="Follow us"><i class="fa fa-facebook-square"></i></a>
                <a class="icons-sidebar-unit" href="#" title=""><i class="fa fa-google-plus-square"></i></a>
                <a class="icons-sidebar-unit" href="https://www.youtube.com/" title=""><i class="fa fa-youtube-square"></i></a>
            </div>
            <!--End Social icons-->
            <div class="copyright">Copyright uiueux.com</div><!--End copyright-->
        </div>
        <!--END sidebar-bottom-wrap-->
    </div>
    <!--end sidebar-main-->
</aside>
<!--Header-->
