	<section id="quadrati">{% load staticfiles %}
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
					<a href="{% url 'offline' %}">
						<img src="{% static 'img/OFFLINE-box.jpg' %}" class="img-responsive">
					</a>
				</div>

				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
					<a href="{% url 'online' %}">
						<img src="{% static 'img/ONLINE-box.jpg' %}" class="img-responsive">
					</a>
				</div>

				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
					<a href="{% url 'integrata' %}">
						<img src="{% static 'img/INTEGRATA-box.jpg' %}" class="img-responsive">
					</a>
				</div>

			</div>
		</div>
	</section>